    /*
    Flaticon icon font: Flaticon
    Creation date: 24/12/2019 07:25
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-date:before { content: "\f100"; }
.flaticon-gear-option:before { content: "\f101"; }
.flaticon-explore:before { content: "\f102"; }
.flaticon-store-new-badges:before { content: "\f103"; }
.flaticon-user:before { content: "\f104"; }
.flaticon-check-mark:before { content: "\f105"; }
.flaticon-kids-delete-button:before { content: "\f106"; }
.flaticon-right-arrow:before { content: "\f107"; }
    
    $font-Flaticon-date: "\f100";
    $font-Flaticon-gear-option: "\f101";
    $font-Flaticon-explore: "\f102";
    $font-Flaticon-store-new-badges: "\f103";
    $font-Flaticon-user: "\f104";
    $font-Flaticon-check-mark: "\f105";
    $font-Flaticon-kids-delete-button: "\f106";
    $font-Flaticon-right-arrow: "\f107";